

<div class="relative w-full h-screen bg-cover bg-center bg-black py-12"
	style="background-image: url('/img/bot.png');">
  
	<!-- Capa oscura encima del fondo -->
	<div class="absolute inset-0 bg-black opacity-80 flex items-center justify-center">
		<div class="text-center text-white max-w-3xl mx-auto px-4 md:px-8">
		  
			<!-- Título con gradiente -->
			<h2 class="text-gradient text-4xl sm:text-5xl md:text-6xl font-light py-3">The future of tech is here</h2>
		  
			<!-- Párrafo con ajuste de tamaño para móviles y pantallas grandes -->
			<p class="text-base sm:text-lg md:text-2xl font-extralight mt-4 md:mt-6">
			  Holisticly incentivize revolutionary collaboration and idea sharing before cost-effective users. Actual focused services before highly efficient human capital.
			</p>
		  
			<!-- Botón "Play Video" con espacio ajustado -->
			<div class="mt-10">
				<a href="#" class="bg-blue-600 text-white px-8 py-4 rounded-full inline-flex items-center hover:bg-blue-700 transition duration-300 ease-in-out">
				  <span class="mr-2">Play</span>
				  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
					<path stroke-linecap="round" stroke-linejoin="round" d="M5.25 5.25l13.5 6.75-13.5 6.75V5.25z" />
				  </svg>
				  <span class="ml-2">Video</span>
				</a>
			</div>
		</div>
	</div>
</div>

<style>
  .text-gradient {
      background: linear-gradient(to right, #EA03FA, #BF1CFF, #00FFF2);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
</style>
