<section id="Home" class="py-12 bg-white">
  <div class="container mx-auto text-center px-4"> <!-- Agregué px-4 para mejor margen lateral en pantallas pequeñas -->
    <h2 class="text-4xl font-bold mb-6 text-purple-900">COMO FUNCIONA</h2>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
      <!-- Step 1: Connect Device -->
      <div class="text-center">
        <img src="/img/computer.png" alt="Connect Device" class="mx-auto mb-4 w-24 h-24 lg:w-32 lg:h-32" /> <!-- Cambié el tamaño para ser más adaptable -->
        <h3 class="text-lg font-bold">Conecta a cualquier aplicacion web</h3>
        <p class="text-gray-500 text-center leading-relaxed">Automatiza ventas con nuestro asistente virtual conectandolo en tus canales de comunicación sin complicaciones.</p>
      </div>

      <!-- Step 2: Configure it -->
      <div class="text-center">
        <img src="/img/lista.png" alt="Configure it" class="mx-auto mb-4 w-24 h-24 lg:w-32 lg:h-32" /> <!-- Tamaño adaptable para íconos -->
        <h3 class="text-lg font-bold">Configuralo por ti mismo</h3>
        <p class="text-gray-500 text-center leading-relaxed"> Personaliza respuestas y ajustes desde un panel intuitivo, sin requerir conocimientos técnicos.</p>
      </div>

      <!-- Step 3: Yay! Done -->
      <div class="text-center">
        <img src="/img/trofeo.png" alt="Yay Done" class="mx-auto mb-4 w-24 h-24 lg:w-32 lg:h-32" /> <!-- Tamaño adaptable para íconos -->
        <h3 class="text-lg font-bold ">Yay! y listo</h3>
        <p class="text-gray-500 text-center leading-relaxed">¡Listo!Tu chatbot empezará a interactuar y guiar a tus clientes. Observa cómo tus ventas crecen sin esfuerzo adicional.¡Así de fácil!</p>
      </div>
    </div>
  </div>
</section>
